.sidebar__tags {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar__tag-button {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__tag-icon {
    font-size: 10;
    margin-right: 1
}

.sidebar__tag-title {}