.sidebar__tag-icon {
    font-size: 10;
    margin-right: 1
}

.sidebar__tag-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sidebar__tag-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
    /* justify-content: space-between */
}

.sidebar__tag-title {
    display: flex;
    justify-content: flex-start;
}

/* .sidebar__tag-button {
    justify-content: flex-start;
} */