.sidebar {
    /* background-color: #F4F6F8; */
    height: 100%;
    padding-top: 60px;
}

.sidebar__all {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 160px;
}

.sidebar__icon {
    margin-right: 6px;
}

.sidebar__item {
    max-width: 160px;
}

.sidebar__add {
    color: #767676;
}