.task__container {
    margin: 10px;
    margin-left: 0;
}

.todolist__container {
    padding-top: 32px;
}

.todolist__input {
    margin-top: 32px;
}

.todolist__title {
    margin-bottom: 24px;
    color: #64C4ED;
}