* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}